<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Serverless Meetings</title>
    <link rel="stylesheet" href="style.css" />
    <script src="amazon-chime-sdk.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <style>
      #video-list video {
        width: 600px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <script src="app.js"></script>
  </body>
</html>
